<div class="container">
    <div class="container-fluid container-custom">
        <!-- sliding images  -->
        <div class="row justify-content-evenly sliding-row">
            <div class="col-12">
                <marquee direction="alternate"><img class="scrolling-text"
                        src="https://cdn.s3waas.gov.in/s33b8a614226a953a8cd9526fca6fe9ba5/uploads/2023/03/2023030154.jpg"
                        alt="">
                </marquee>
            </div>
        </div>



        <!-- parellex start   -->

        <div class="parellex_img1"> </div>
        <div class="parllex_text">
            {{mainHeading}}
        </div>
        <div class="parellex_img2"> </div>


        <!-- Char dham  -->
        <h3 id="header_text">Chitrakoot Char Dham</h3>
        <div class="row justify-content-center mt-5 mb-5 div_decoration">
            <div class="col-md-11 div_img">
                <div id="chardham_caro" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#chardham_caro" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#chardham_caro" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#chardham_caro" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#chardham_caro" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- Kamtanath caro start -->
                        <div class="carousel-item active">
                            <!-- Kamtanath carousel -->
                            <div id="kamtanath_div" class="row justify-content-between mb-5 div_decoration">
                                <div class="col-md-6 order-1 two_row_div_img">
                                    <div class="row">
                                        <div class="col align-self-center div-set">
                                            <img src="../images/images/kamtanath_1.jpg" class="img-fluid">
                                        </div>
                                        <div class="col float-md-end div-set">
                                            <img src="../images/images/kamtanath_2.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col div-set">
                                            <img src="../images/images/kamtanath_3.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="col div-set">
                                            <img src="../images/images/kamtanath_4.jpg" class="img-fluid" alt="">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 div_text">
                                    <h3 class="text-center">Kamtanath</h3>
                                    <p>{{aboutKamadgiri}}</p>

                                </div>
                            </div>
                        </div>
                        <!-- Kamtanath caro end -->

                        <!-- Hanuman Dhara Caro start -->
                        <div class="carousel-item">
                            <!-- Hanuman Dhara carousel -->
                            <div class="row justify-content-between mb-5 div_decoration">
                                <div class="col-md-6 order-0 two_row_div_img">
                                    <div class="row ">
                                        <div class="col align-self-center div-set">
                                            <img src="../images/images/hanumandhara_1.jpg" alt="">
                                        </div>
                                        <div class="col float-md-end div-set">
                                            <img src="../images/images/hanumandhara_2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col div-set">
                                            <img src="../images/images/hanumandhara_3.jpg" alt="">
                                        </div>
                                        <div class="col div-set">
                                            <img src="../images/images/hanumandhara_4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 div_text">
                                    <h3 class="text-center">Hanuman Dhara</h3>
                                    <p>{{aboutHanumanDhara}}</p>

                                </div>
                            </div>
                        </div>
                        <!-- Hanuman Dhara Caro End -->

                        <!-- Gupt Godavari Caro start  -->
                        <div class="carousel-item">
                            <!-- Gupt Godavari carousel -->
                            <div class="row justify-content-between mb-5 div_decoration">
                                <div class="col-md-6 order-1 two_row_div_img">
                                    <div class="row ">
                                        <div class="col align-self-center div-set">
                                            <img src="../images/images/gupt-godavari_1.jpg" alt="">
                                        </div>
                                        <div class="col float-md-end div-set">
                                            <img src="../images/images/gupt-godavari_2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col div-set">
                                            <img src="../images/images/gupt-godavari_3.jpg" alt="">
                                        </div>
                                        <div class="col div-set">
                                            <img src="../images/images/gupt-godavari_4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 div_text">
                                    <h3 class="text-center">Gupt Godavari</h3>
                                    <p>{{aboutGuptGodavari}}</p>

                                </div>
                            </div>

                        </div>
                        <!-- Gupt Godavari Caro End  -->

                        <!-- Sati anusuya Caro start  -->
                        <div class="carousel-item">
                            <!-- Sati anusuya carousel -->
                            <div class="row justify-content-between mb-5 div_decoration">
                                <div class="col-md-6 order-0 two_row_div_img">
                                    <div class="row ">
                                        <div class="col align-self-center div-set">
                                            <img src="../images/images/sati_ansuya_1.jpg" alt="">
                                        </div>
                                        <div class="col float-md-end div-set">
                                            <img src="../images/images/sati_ansuya_2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col div-set">
                                            <img src="../images/assets/images/sati_ansuya_3.jpg" alt="">
                                        </div>
                                        <div class="col div-set">
                                            <img src="../images/assets/images/sati_ansuya_4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 div_text">
                                    <h3 class="text-center">Sati Anusuya</h3>
                                    <p>{{aboutSatiAnusuya}}</p>

                                </div>
                            </div>

                        </div>
                        <!-- Sati anusuya Caro End  -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#chardham_caro"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#chardham_caro"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


        <!-- explore chitrakoot  -->
        <div>
            <h3 id="header_text">Explore Chitrakoot</h3>
        </div>
        <div id="explore_div" class="row justify-content-center div_decoration">
            <div class="col-md-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="row justify-content-center">
                                <div class="col-md-11 justify-content-evenly explore-div-col">

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/bharat-koop.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Bharat Koop</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/bharat_milap.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Bharat Milap Mandir</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/ganesh-bagh.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Ganesh Bagh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="carousel-item">

                            <div class="row justify-content-center">
                                <div class="col-md-11 justify-content-evenly explore-div-col">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/hanuman-dhara-temple.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Hanuman Dhara Temple</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/janki-kund.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Janki Kund</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/kamadgiri-around.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Kamadgiri Temple</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="carousel-item">

                            <div class="row justify-content-center">
                                <div class="col-md-11 justify-content-evenly explore-div-col">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/sati-anusuya-temple.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Sati Anusuya Temple</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/sphatik_Shila.jpg" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Sphatik Shila</p>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 18rem;">
                                        <img src="../images/images/ram-ghat.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text">Ram Ghat</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button id="explore-caro-btn-pre" class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button id="explore-caro-btn-next" class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- weather section  -->
        <div class="parellex_img3"></div>
        <div>
            <h3 id="header_text">Chitrakoot Weather And Best Time To Visit </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="detail_text">
                    {{detailsChitrakoot}}
                    <br>
                    <p>{{weatherCktd}}</p>
                    <br>
                    <h4>Summer (March - June):</h4>
                    <p>{{summerWeather}}</p>
                    <br>
                    <h4>Monsoon (July - October):</h4>
                    <p>{{mansoonWeather}}</p>
                    <br>
                    <h4>Winter (November - February) : </h4>
                    <p>{{winterWeather}}</p>


                </div>
            </div>
        </div>

        <!-- how to reach section  -->
        <div class="parellex_img4"></div>
        <div>
            <h3 id="header_text">How To Reach Chitrakoot</h3>
        </div>
        <div class="row justify-content-center div_decoration">
            <div class="col-md-11 detail_text">
                <h4>BY AIR </h4><br>
                The nearest airports are Allahabad (135 kms from Chitrakoot), Khajuraho( 175 kms)
                and Varanasi (275 kms). These airports have daily flight services to Delhi.

                <br>
                <h4>BY TRAIN</h4><br>
                Chitrakoot Dham Karwi (CKTD) is the nearest railway station and it is 8km away from Chitrakoot.
                The station lies on the Jhansi-Manikpur main line and is well connected to all prominent Indian cities.
                You can also get down at Manikpur Junction, which is 35 kms away from Chitrakoot,
                or at Satna Junction, which is 75 kms away.
                <br>
                Main Railway Route from Chitrakoot is as follows
                <ul>
                    <li>From Chitrakoot to Hajrat Nizamuddin (N. Delhi) via Banda.</li>
                    <li>From Chitrakoot to Lucknow via Banda</li>
                    <li>From Chitrakoot to Allahabad, Mughal Sarai, Hawraha via Manikpur.</li>
                    <li>From Chitrakoot to Varanasi via Manikpur</li>
                    <li>From Chitrakoot to Kurla (Mumbai) via Jhansi</li>
                </ul>

                <br>
                <h4>BY ROAD</h4><br>
                State-owned buses are available from Allahabad, Banda, Kanpur, Satna and Jhansi to reach Chitrakoot. One
                can
                also take taxi from Delhi airport to Chitrakoot.

                <br> Main Roadways Route from Chitrakoot is as follows :
                <ul>
                    <li>From Chitrakoot to Mirzapur via Allahabad.
                    </li>
                    <li>From Chitrakoot to Banda, Kanpur & Lucknow.
                    </li>
                    <li>From Chitrakoot to Rajapur.
                    </li>
                    <li>From Chitrakoot to Sagar via Mahoba.
                    </li>
                    <li>From Chitrakoot to Panna via Attra & Naraini.
                    </li>
                </ul>

            </div>
        </div>

        <!-- container end  -->
    </div>
</div>