<div id="explore_div" class="row justify-content-center div_decoration">
    <div class="col-md-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="row justify-content-center">
                        <div class="col-md-11 justify-content-evenly explore-div-col">

                            <div class="card" style="width: 18rem;">
                                <img src="../../../assets/images/bharat-koop.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Bharat Koop</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="carousel-item">

                    <div class="row justify-content-center">
                        <div class="col-md-11 justify-content-evenly explore-div-col">
                            <div class="card" style="width: 18rem;">
                                <img src="../../../assets/images/hanuman-dhara-temple.jpg" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <p class="card-text">Hanuman Dhara Temple</p>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>
                <div class="carousel-item">

                    <div class="row justify-content-center">
                        <div class="col-md-11 justify-content-evenly explore-div-col">
                            <div class="card" style="width: 18rem;">
                                <img src="../../../assets/images/ram-ghat.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Ram Ghat</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button id="explore-caro-btn-pre" class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="explore-caro-btn-next" class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>