<div class="container">
  <footer>
    <div class="container-fluid footer-container">
      <div class="row justify-content-around">
        <div class="col-md-6">
          <span>All rights reserved © 2024</span>
          <hr>
          <span>Disclaimer: Designed, Developed, Maintained and Hosted by Owned
            <img src="../../../assets/images/cktd_logo.png" width="50px" height="20px">
          </span>
          <hr>
          <div class="enquiry justify-content-between">
            <div>
              For any query or help <br>
              <span>
                Phone: +91-7701883719<br>
                Email: chitrakoot.kuldeep&#64;gmail.com
              </span>

            </div>
            <div>
              <img class="scanner" src="../../../assets/images/qr_code/GooglePay_QR.png">
            </div>


          </div>
        </div>

        <div class="col-md-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11079.20471426541!2d80.91675681373347!3d25.215003426499095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3984a635ac470c09%3A0xf77828392d478da7!2sChitrakoot%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1709263709674!5m2!1sen!2sin"
            width="100%" height="240" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </footer>
</div>