
.footer-container .row {
    background-color: black;
    color: white;
    height: 255px;
    margin-top: 35px;
    padding: 10px;
}
h4{
    color: rgb(76, 0, 255);
}
.enquiry{
    display: flex;
}
.scanner{
    height: 200px;
}